.each-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #fff;
    margin-bottom: 6px;
}

.delete-btn{
    background-color: transparent;
    border: 0;
}

.delete-btn:hover{
    cursor: pointer;
}

.completed-status-text{
    font-family: roboto;
    color: green
}

.not-completed-status-text{
    font-family: roboto;
    color: red;
}

.title{
    font-family: roboto;
    width: 15%;
}